<ul class="social-section">
<li><a href="https://www.facebook.com/profile.php?id=61554618796489&mibextid=ZbWKwL" target="_blank">{{> "icons/fb"}}</a></li>
<li><a href="https://twitter.com/BlocksLk" target="_blank">{{> "icons/tw"}}</a></li>
<li><a href="https://www.linkedin.com/company/blockslk" target="_blank">{{> "icons/ln"}}</a></li>
<li><a href="https://www.youtube.com/channel/UCr-pJ1zz8rWOBMFnXgWSNHQ" target="_blank">{{> "icons/yt"}}</a></li>
</ul>